<!doctype html>
<html>
<head>
    <title>Coffee House</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">


<span> <a href="/login" class=""><stong>BARISTA LOGIN</stong></a></span>


    <div class="jumbotron text-center">
        <h1>LA</h1>
        <h1>Coffee House</h1>
        <img src="img/coffee shop.jpg" alt="21 Savage Profile Photo">

        <h2>Place Customer Order</h2>
        <form action="/" method="POST">
            <label for="name">Customer Name</label>
            <input class="order orderInput" type="text" value="" name="name" required>
            <div class="drink">
                <button class="order btn btn-primary btn-lg" type="submit" name="drink" value="Coffee">Coffee</button>
                <button class="order btn btn-primary btn-lg" type="submit" name="drink" value="Decaf Coffee">Decaf Coffee</button>
                <button class="order btn btn-primary btn-lg" type="submit" name="drink" value="Iced Coffee">Iced Coffee</button>
                <button class="order btn btn-primary btn-lg" type="submit" name="drink" value="Espresso">Espresso</button>
                <button class="order btn btn-primary btn-lg" type="submit" name="drink" value="Decaf Espresso"> Decaf Espresso</button>
                <button class="order btn btn-primary btn-lg" type="submit" 
                name="drink" value="Caffè Macchiato"> Caffè Macchiato</button>
                <button class="order btn btn-primary btn-lg" type="submit" 
                name="drink" value="Decaf Macchiato"> Decaf Macchiato</button>
                <button class="order btn btn-primary btn-lg" type="submit"
                name="drink" value="Cold Brew">Cold Brew</button>
                <button class="order btn btn-primary btn-lg" type="submit" name="drink" value="Cappuccino">Cappuccino</button>
                <button class="order btn btn-primary btn-lg" type="submit" name="drink" value="Latte">Latte</button>
                <button class="order btn btn-primary btn-lg" type="submit" name="drink" value="Iced Latte">Iced Latte</button>
                <button class="order btn btn-primary btn-lg" type="submit" name="drink" value="Hot Tea">Hot Tea</button>
                <button class="order btn btn-primary btn-lg" type="submit" name="drink" value="Iced Tea">Iced Tea</button>
            </div>
        </form>
        <p>Barista</p>
        <p>Login or Signup:</p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>

</div>
</body>
</html>
